{% extends "BlogApp/base.html" %}

{% block body %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-2 text-white mb-4 animated slideInDown">{{post.title}}</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="">Blog</a></li>
                    <li class="breadcrumb-item"><a href="/posts">Posts</a></li>
                    <li class="breadcrumb-item text-primary" aria-current="page">{{post.title|slugify|slice:":30"}}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-5">
                <div class="row p-5">
                    {% if post.thumbnail %}
                        <img src="{{post.thumbnail.url}}" alt="{{post.title}}" class="img-fluid" width="720px">
                    {% else %}
                        <img src="/media/default/default-post.png" alt="{{post.title}}" class="img-fluid" width="720px">
                    {% endif %}
                </div>
                <div class="row">
                    <p class="fs-1 text-center"><strong>{{post.title}}</strong></p>
                    <p class="fs-3 text-center"><strong class="text-secondary">{{post.tagline}}</strong></p>
                    <p class="fs-3 text-center"><strong class="text-secondary">posted on: {{post.post_date}}</strong></p>
                </div>
                <div>
                    {{post.content|safe}}
                </div>
                <div class="text-center">
                    {% if post.total_likes == 0 %}
                        <p class="fs-4 text-center"><strong class="text-secondary">No Likes on this post! Be the first to like it</strong></p>
                    {% else %}
                        <p class="fs-4 text-center"><strong class="text-secondary">Total Linkes on this post: {{post.total_likes}}</strong></p>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <a href="/auth/login" class="btn btn-success">Login to like this post</a>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                <div class="text-center">
                    {% if user in post.likes.all %}
                        <a href="/like-post/{{post.id}}" class="btn btn-danger">Unlike Post</a>
                    {% else %}
                        <a href="/like-post/{{post.id}}" class="btn btn-success">Like Post</a>
                    {% endif %}
                </div>
                {% endif %}
                <div class="row mt-3">
                    <div class="col-md-4 p-3" style="background: silver;">
                        <div class="text-center" style="background: silver;">
                        {% if post.author.profile %}
                            {% if post.author.profile.profile_pic %}
                                <img src="{{post.author.profile.profile_pic.url}}" alt="{{post.author}}" class="img-fluid" width="200px">
                                {% else %}
                                <img src="/media/default/default-user.jpg" alt="{{post.author}}" class="img-fluid" width="200px">
                            {% endif %}
                        {% else %}
                            <img src="/media/default/default-user.jpg" alt="{{post.author}}" class="img-fluid" width="200px">
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-md-8 p-3" style="background: silver;">
                        <p class="fs-4 text-center"><strong class="text-dark">{{post.author}}</strong></p>
                        {% if not post.author.profile %}
                            <p class="fs-6 text-center"><strong class="text-dark">Nothing to show about this user</strong></p>
                        {% else %}
                            <p class="fs-6 text-center"><strong class="text-dark">{{post.author.profile.about_user}}</strong></p>
                            {% if post.author.profile.social_link %}
                                <p class="fs-6 text-center">Contact: <a class="text-dark" href="{{post.author.profile.social_link}}" target="_blank">{{post.author.profile.social_link}}</a></p>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% comment "" %}Comments Container{% endcomment %}
                    <div>
                        <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://lab-12.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-4">
                <div class="row">
                        <form class="d-flex" role="search" method=POST action="/search">
                            {% csrf_token %}
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                            <button class="btn btn-outline-primary" type="submit">Search</button>
                        </form>
                </div>
                <br>
                <div class="row">
                    <hr>
                        <p class="fs-4 text-center"><strong>Categories</strong></p>
                    <hr>
                    {% for value in categories %}
                        <a href="/category/{{value|slugify}}">
                            <p class="fs-6 text-center"><strong class="text-secondary">{{value}}</strong></p>
                        </a>
                    {% endfor %}
                </div>
                <div class="row d-flex">
                    <hr>
                        <p class="fs-3 text-center"><strong>Recent Posts</strong></p>
                    <hr>
                    <div class="row d-flex">
                    {% for post in recents %}
                        <div class="row mt-3">
                            <div class="col-md-4 text-center">
                                <a href="/posts/{{post.title|slugify}}">
                                    {% if post.thumbnail %}
                                        <img src="{{post.thumbnail.url}}" alt="{{post.title}}" class="img-fluid" width="100px">
                                    {% else %}
                                        <img src="/media/default/default-post.png" alt="{{post.title}}" class="img-fluid" width="100px">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-8 text-center">
                                <a href="/posts/{{post.title|slugify}}">{{post.title|slice:":20"}} ...</a>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}